/*div#teste{
  background-color: aquamarine;
  position: fixed;
  top: 0; left: 0;
  width: 300px;
  height: 60px;
  z-index: 10;
  color: #000;
  
}*/



/*
CORES
VERDE ESCURO: #065902
VERDE MAIS CLARO: #078C31
AMARELO: #F2B705
VERMELHO MAIS CLARO: #F03733
VEREMELHO ESCURO: #D90404




CINZA ESCURO: #404040
CINZA BEM CLARO: #F7F7F7
*/


*{
  margin:0;padding: 0;box-sizing: border-box;/*para deixar a imagem colada na esquerda, border box ajusta para que fique a pagina igual para todo navegador*/
}

header {
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)), url(Imagens/secao08-background-capa.jpg);/*adicioona a imagem e deixa ela com um gradiente */
  background-size: cover;/*dimensiona a imagem para todo o logo*/
  background-position: center center;/*para ajeitar a  imagem certinha na tela no centro*/
  width: 100%;
  height: 100vh;/*serve para ajustar a imagem no header inteiro*/
  border-top: 5px solid #078C31;  /*borda de cima da tela*/ 
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);/*para dar inclinação na imagem da pizza*/
  position: relative;
}


nav {
  width: 96%;/*para jogar o menu um pouco para a esquerda*/
  height: 200px;
  margin: 10px auto;
}

div#logo {
  float: left;/*faz com que o elemento flutue para a esquerda*/
  background-image: url(Imagens/secao08-logo-pizzaria-fontenelle.png);/*adiciona o logo*/
  background-size: contain;/*serve para ajustar a imagem do logo*/
  background-repeat: no-repeat;/*serve para não repetir a imagem caso o espaço de para mais de*/
  width: 200px; /*largura*/
  height: 200px;/*altura*/
}

nav ul#esquerda {
  float: left;/*faz com que o elemento flutue para a esquerda*/
}

nav ul#direita {
  float: right;/*faz com que o elemento flutue para a direita*/
}

nav ul {/*seleciona o nav ul pois serve para todo oo elemento*/
  display: flex;/*para deixar os elementos do menu na horizontal*/
  flex-flow: row wrap;/*para seguir em linha o flow*/
  justify-content: left;/*startar o conteudo da esquerda para direita*/
  margin-top: 70px;/*serve para colocar o texto que estava colado na margem de cima, para o meio do nav*/
  height: 40px;/*altura*/
}

nav ul li {
  list-style:none;/*para tirar os pontos do ul*/
}

nav ul li a {
  color: white;
  text-decoration: none; /*serve para tirar a linha do sublinhado embaixo do texto*/
  padding: 10px 30px;/*para dar distância os elementos home, domingo perfeito ...10 px tamanho 30 espaçamento da direita para esquerda esquerda*/
  border-radius: 100px;/*para fazer a borda ficar redonda do home, domingo perfeiroo, pizza, depoimentos e planos*/
  font-size: 80%; /*Para diminuir a fonte*/
}

nav ul li a#criar-conta{/*criar borda no "criar conta"*/
  border: 1px solid #FFF;/*determina a borda sendo sólida*/
  padding: 9px 29px; /*ficou 9, porque o outro padding ficou de 10, s´que a borda é de 1px, dai subtraiu para ficar o mesmo tamanho*/
}

nav ul li a:hover{/* para quando passar o mouse em cima dos menus, ficar de outra cor*/
  background-color: #F2B705;
  transition-duration: 0.8s;/* para quando passar o mouse em cima dos menus, ficar de outra cor, porém, depois de 0,8 segundos*/
}

nav ion-icon#icone-user{
  width: 45px;          
  height: 45px;
  color: white;
  margin-top: -13px;/*para centralizar o icone*/
  margin-left: 20px;/*para dar ums distância do criar conta*/
}

nav ion-icon#icone-user:hover{
  color: #F2B705;
  cursor: pointer; /*serve para quando colocar o mouse em cima do login aparecer uma mãozinha*/
}

header div#chamada{
  position: absolute;/*para isso ocorrer, o header precisa ter um position relative*/
  width: 100%;
  height: 300px;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);/*para ajustar o sunday pizza sunday para o meio da div chamada*/
  text-align: center;
}



/*------------------*/
/* SEÇÃO - DOMINGO PERFEITO */
/*----------------*/

section#domingo-perfeito{
  width: 100%;
  padding: 40px -0px 80px;/*primeiro é pra cima, segundo pra direita e pra esquerda,terceiro fica pra baixo*/ 
  display:flex;
  flex-flow: row wrap;/*para definir os elementos serem lado a lado das divs*/
  justify-content: space-around;/*para justificar os elementos*/
}

div#domingo-perfeito-esquerda{
  position: relative;
  width: 15%;
}

div#domingo-perfeito-direita{
  position: relative;
  width: 15%;
}

div.folha1{
  position:absolute;/*só vai funcionar porque o direita e esquerda esta como position relative*/
  top: 40PX;
  lef: 40px;
  width: 150px;
  height: 150px;
  background-image: url(Imagens/secao09-folha1.png);
  background-repeat: no-repeat;
  opacity: 0;
}

div.camarao{
  position:absolute;
  top: 250px;
  left: 0;
  width: 150px;
  height: 150px;
  background-image: url(Imagens/secao09-camarao.jpg);
  background-repeat: no-repeat;
  opacity: 0;
}

div.folha2{
  position:absolute;
  top: 500px;
  left: 50;
  width: 150px;
  height: 150px;
  background-image: url(Imagens/secao09-folha2.png);
  background-repeat: no-repeat;
}

div.folha3{
  position:absolute;
  top: 100px;
  left: 20;
  width: 160px;
  height: 150px;
  background-image: url(Imagens/secao09-folha3.png);
  background-repeat: no-repeat;
  opacity: 0;

}

div.tomate{
  position:absolute;
  top: 300px;
  left: 100;
  width: 160px;
  height: 150px;
  background-image: url(Imagens/secao09-tomate.png);
  background-repeat: no-repeat;
  opacity: 0;

}


div.queijo{
  position:absolute;
  top: 600px;
  left: 10;
  width: 160px;
  height: 150px;
  background-image: url(Imagens/secao09-queijo.jpg);
  background-repeat: no-repeat;
  opacity: 0;

}


div#domingo-perfeito-centro{
  width: 70%;/*somando a div da esquerda a da direita falta 70%, para n ficar sobrando,deixamos 65%*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /*serve para deixar o parágrafo do domingoo perfeito no meio da página*/
}

div#pontos-chaves-mestre{
  width: 100%;
  display: flex;/*serve para poder usar o flex flow*/
  flex-flow: row wrap;/*serve para que o conteudo fica lado a lado (familia, preço e horario)*/
  justify-content: space-between;/*para justificar o texto e serve para espalhar o conteudo*/
}

div.pontos-chaves{
  text-align: center;
  width: 25%;
}


section#domingo-perfeito div.pontos-chaves ion-icon {
   width: 65px;
   height: 65px;
   color: #F03733;
   margin-top: 40px;
  
   
}


/*------------------*/
/* SEÇÃO - PIZZA */
/*----------------*/

section#pizza{
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.55)),url(Imagens/secao10-background-secao-pizza.jpg);
  margin-top: 100px;
  padding: 40px 0 80px;
  background-size: cover;/*para esticar a imagem adicionada e ela não se repetir*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;/*para começar da esquerda para direita*/
  align-items: center;
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);/*para dar inclinação na imagem*/
  
}

div#pizza-opcoes-mestre{
  width: 80%;
  margin-top:30px;
  display: flex;
  flex-flow: row wrap;/*ao lado*/
  text-align: center;
}

div.pizza-opcoes{
  width: 33.3%;
  text-align: center;
  margin: 5px 0;

}


/*------------------*/
/* SEÇÃO - DEPOIMENTOS*/
/*----------------*/

section#testemunha{
  width: 100%;
  padding: 40px 0 80px;
  background-image:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.8), rgba(255,255,255,1)), url(Imagens/secao11-background-secao-depoimento.png);  
  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
  justify-content: flex-start; /*de cima para baixo*/
  align-items: center;
  height: 750px;;
}

div#testemunha-esquerda, div#testemunha-direita { 
  width: 15%;
  height: 300px;
  cursor: pointer;
}


div#testemunha-mestre ion-icon {
    width: 90%;
    height: 90%;
    color: #F03733;
}

div#testemunha-esquerda ion-icon  {
  opacity: 0.6;
}

div#testemunha-centro{
  width: 70%;
  margin: 0 auto;/*para determinar que todos os elementos dentro dessa div ficará centralizado)*/
  height: 300px;
  position: relative;
  max-width: 760px;/*serve para deixar o máximo de elementros nessa dimensão (no caso 3 pessoas com depoimentos) */
  overflow: hidden;
  
}


div#testemunhos {
 position: absolute;
 left: 0;
 width: 2680px;
}

section#testemunha div#testemunha-centro div#testemunhos ul{
  display: inline-table;
  width: 220px;
  background: #fff;
  padding: 30px;
  margin: 50px 15px;/*50 para cima e para baixo e 15 para esquerda e direita*/
  border-radius: 20px;
  border: 1px solid rgba(204, 204, 204, 0.829);

  text-align: center;
}

section#testemunha div#testemunha-centro div#testemunhos ul li{
  list-style: none;
  display: inline-table;
  width: 100%;
  margin: 0;
}

section#testemunha div#testemunha-centro div#testemunhos ul h5{
  font-size: 140%;
}

section#testemunha div#testemunha-centro div#testemunhos ul p{
  line-height: 1.5;
  color: #404040;
  font-size: 90%;
}

section#testemunha div#testemunha-centro div#testemunhos ul img{
  width: 40%;
  border-radius: 100%;
  margin-top: -80px;
  border: 5px solid #F03733;
}

/*------------------*/
/* SEÇÃO - TRANSIÇÃO 1 */
/*----------------*/

div#transicao-testemunha-plano{
  width: 100%;
  height: 280px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -50px;
  }

div#transicao-testemunha-plano div#decoracao1{
  width: 30%;
  height: 100%;
  background-image: url(Imagens/secao13-tomate-manjericao-alho.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

div#transicao-testemunha-plano div#decoracao2{
  width: 30%;
  height: 100%;
  background-image: url(Imagens/secao13-azeite.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

div#transicao-testemunha-plano div#decoracao3{
  width: 30%;
  height: 100%;
  background-image: url(Imagens/secao13-detalhe-tomate.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/*------------------*/
/* SEÇÃO - PLANOS */
/*----------------*/

section#plano-principal{
  width: 100%;
  height: 800px;
  padding: 40px 0 80px;
}

div#planos-janela{
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-flow: row warp;
  justify-content: center;
}
div.planos{
  width: 250px;
  height: 450px;
  margin: 80px 30px;

}

div.planos-top{
  width: 250px;
  height:350px;
  background-color: seashell;
  border-top-left-radius: 20px;/*para arredondar somente a parte de cima esquerda*/
  border-top-right-radius: 20px;/*para arredondar somente a parte de cima direta*/
  text-align: center;
  box-shadow: 2px 2px 3px #ccc;

}

div.planos-bottom{
  width: 250px;
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #078C31;
  box-shadow: 2px 2px 3px #ccc;

  cursor: pointer;
}


/*------------------*/
/* FOOTER */
/*----------------*/


footer{
  padding-top: 36px;
  padding-left: 36px;
  width: 100%;
  height: 500px;
  background-image: url(Imagens/secao15-mesa-xadrez.png);
  background-repeat: repeat;
  border-bottom: 10px solid #F03733;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 0 3px 10px #404040;

}

#transicao-plano-rodape{
  width: 100%;
  height: 26px;
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.5)),url(Imagens/secao15-mesa-xadrez-clara.png);
  background-repeat: repeat-x;
  margin-top: 100px;
}

footer div#mapa{
  width: 35%;
  height: 390px;
  background-color: white;
  box-shadow: 0 3px 10px #404040;
}

footer div#info{
  width: 30%;
  height: 390px;
  background-color:#F03733;
  

}

footer div#redes-sociais{
  width: 100%;
  height: 70px;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer div#redes-sociais ion-icon{
  color: white;
  height: 100%;
  width: 20%;
  cursor: pointer;
}

footer div#redes-sociais ion-icon:hover{
  color: #F2B705;
}

footer div#pizza-rodape-decoracao{
  width: 300px;
  height: 390px;
  margin-top: -100px;
  background-image: url(Imagens/secao15-pizza-rodape.png);
  background-repeat: no-repeat;
}